<table class="mui-body footer" cellpadding="0" cellspacing="0" border="0">
    <br>
    <tr>
      <td>
          <div class="mui-container mui--text-body1 end mui--text-center">                                 
              <p>
                  <!--Facebook icon-->
                  <a href="https://www.facebook.com" target="_blank"><img alt="" src="https://cdn4.iconfinder.com/data/icons/miu-flat-social/60/facebook-32.png" /> </a>&nbsp; &nbsp;
                  <!--Google+ icon-->
                  <!-- <a href="http://plus.google.com" target="_blank"><img alt="" src="https://cdn4.iconfinder.com/data/icons/miu-flat-social/60/google-32.png" /> </a>&nbsp;&nbsp; -->
                  <!--Twitter icon-->
                  <!-- <a href="http://twitter.com/" target="_blank"><img alt="" src="https://cdn4.iconfinder.com/data/icons/miu-flat-social/60/twitter-32.png" /> </a>&nbsp;&nbsp; -->
                  <!--Skype icon-->
                  <a href="https://web.skype.com/en/" target="_blank"><img title="AgriLego" alt="AgriLego" src="https://cdn4.iconfinder.com/data/icons/miu-flat-social/60/skype-32.png" /> </a>
              </p>
              <p>09THC, VD Colleges - HCMC<br>
                  <a target="_Blank" href="https://www.google.com/maps/place/Cao+%C4%91%E1%BA%B3ng+Vi%E1%BB%85n+%C4%90%C3%B4ng/@10.851625,106.6258363,17z/data=!4m7!3m6!1s0x31752a2769eec849:0xc623b505cddae0bf!8m2!3d10.8516251!4d106.6280249!9m1!1b1">
                    Lô 2 Công viên Phần mềm Quang Trung,Quận 12,HCM</a>
                  <br>Design by Tung - 09THC
              </p>
              <br>
          </div>
      </td>
    </tr>
  </table>