<div class="mui-container mui--text-center header">
    <br>
    <a href="http://localhost:4200/app/shopping/beef">
        <img class="logo" src="https://lh3.google.com/u/0/d/1JFzSrZN1gUyLcziqwlXPB3ATK-A7xykM=w1366-h638-iv1">
    </a>
    <strong></strong>
         
</div>